body {
    font-family: Linux Biolinum, Garamond, Georgia;
    line-height: 1.5em;
    font-size: 110%;
}
@media (min-width: 720px) {
    body {
        margin: 2em 4em;
    }
}
@media (min-width: 1800px) {
    body {
        margin: 2em 10em;
    }
}

h1,h2,h3,h4 {
    color: #060;
    line-height: 100%;
}
h2,h3 {
    margin-top: 2em;
    border-bottom: solid 1px #dfd;
}
h1 { font-size: 300%; }
h2 { font-size: 200%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; }

li { margin-top: 0.5em; }
ul li strong { background: #bfc; }

blockquote {
    font-size: 125%;
    background: #bfc;
    padding: 0.5ex 2ex;
}
.todo {
    color: red;
    background: #fcc;
}
